                              ///*******************A CSS FILE TO STYLE THE Admin.php page***********************************************////

body {
    padding-top: 90px;       /************************ styling body to keep padding of 90px from top of window ***************************//
}


.panel-addHospitalPanel {
    border-color: #ccc;                                   /***** styling the whole addHospital Panel with border color #ccc *************/
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);  /************ styling for web browser chrome ********************************/
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);     /*************** styling for web browser firefox ****************************/
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);         /******************** styling with shadow ************************************/
}

                               /********* styling the heading of addHospital Panel *****************************/
.panel-addHospitalPanel>.panel-heading {
	color: #00415d;                                 
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}

                              /********* styling the heading link of addHospital Panel *****************************/
.panel-addHospitalPanel>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

                        /********* styling the heading link when "active" of addHospital Panel *****************************/
.panel-addHospitalPanel>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}

                         /********* styling the horizontal rule of addHospital Panel *****************************/
.panel-addHospitalPanel>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

                                 /********* styling the input element of addHospital Panel starts *****************************/
								 
.panel-addHospitalPanel input[type="text"],.panel-addHospitalPanel input[type="email"],.panel-addHospitalPanel input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-addHospitalPanel input:hover,
.panel-addHospitalPanel input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
                  
                             /************** styling the input elements od addHospital Panel ends *****************************/

                             /******************* styling the addHospital Button starts ***************************************/							 
.btn-addHospital {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-addHospital:hover,
.btn-addHospital:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
                             /******************* styling the addHospital Button ends ***************************************/
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
